@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game {
  background-color: #75c88e;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgb(217, 255, 219);
}
body {
  margin: 5% 25% 0 25%;
  background-color: #333;
}

h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 48px;
}

.spaces {
  height: 100px;
  width: 100px;
  background-color: #75c88e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  font-family: "Permanent Marker", cursive;
  font-size: 48px;
  cursor: pointer;
}

.space-1,
.space-2,
.space-4,
.space-5,
.space-7,
.space-8 {
  border-right: #fff solid 5px;
}

.space-1,
.space-4,
.space-2,
.space-3,
.space-5,
.space-6 {
  border-bottom: #fff solid 5px;
}

.background {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 300px;
  background-color: #75c88e;
  width: 300px;
  margin: 0 auto;
}

.reset-button-div {
  text-align: center;
  margin-top: 40px;
}

.winner-msg-div {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.winner-msg-p {
  color: #ffffff;
  font-size: 36px;
  font-family: "Permanent Marker", cursive;
}

.reset-button {
  background-color: #333333;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 2px;
  font-size: 24px;
  width: 65%;
  color: #ffffff;
  outline: none;
  height: 40px;
}

.score-count-div {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.score-count-x,
.score-count-o {
  color: #fff;
  font-family: "Permanent Marker", cursive;
  font-size: 19px;
  display: inline;
  padding: 15px;
}

/* Media Queries */

/* 320px */
@media screen and (max-width: 320px) {
  body {
    margin: 5% 5% 0 5%;
  }

  .background {
    height: 100px;
    width: 100px;
  }

  .spaces {
    height: 35px;
    width: 35px;
    font-size: 24px;
  }
}

/* 480px */

@media screen and (max-width: 480px) {
  body {
    margin: 5% 5% 0 5%;
  }

  .background {
    height: 100px;
    width: 100px;
  }

  .spaces {
    height: 35px;
    width: 35px;
    font-size: 24px;
  }
}

/* 600px */

@media screen and (max-width: 600px) {
  body {
    margin: 5% 5% 0 5%;
  }

  .background {
    height: 100px;
    width: 100px;
  }

  .spaces {
    height: 35px;
    width: 35px;
    font-size: 24px;
  }
}
